@use "../custom" as *;

#sign-up-form{
    
    form{
        margin: 12rem auto 0 auto;
        background-color: $primary;
        padding: 1rem;
        width: 30%;
        border-radius: 0.8rem;

        @media (max-width: 1024px){
            width: 50%;
        }
        @media (max-width: 425px){
            width: 80%;
        }
        @media (max-width: 320px){
            width: 90%;
        }
    }
    h2{
        margin-bottom: 2rem;
    }
    input{
        border-radius: 0.8rem;
        font-family: $main-font;
    }
    #submit-btn{
        background-color: $secondary;
        padding: 0.3rem 2rem;
        margin-top: 3rem;
        color: $white;
        font-family: $main-font;

        &:hover{
            background-color: $white;
            color: $secondary;
        }
    }
    .to-log-in{
        font-family: $main-font;
        font-weight: 400;
        text-decoration: none;

        &:hover{
            font-weight: 700;   
        }
    }
    
}