{% extends 'base.html' %}
{% block title %}
  movie ocean - Sign Up
{% endblock %}
{% block content %}
    <section id='sign-up-form'>
        <div class='container'>
          <form class='row text-center shadow' method="POST">
            {{ form.hidden_tag() }}
            <h2 class='text-capitalize text-white'>sign up</h2>
            <div class='mb-3'>
              {{ form.username(type="text", class="form-control", id="user_name", placeholder="Username") }}
            </div>
            <div class='mb-3'>
              {{ form.email_address(type="email", class="form-control", id="email", placeholder="name@example.com") }}
            </div>
            <div class='mb-3'>
              {{ form.password_1(type="password", class="form-control", id="password", placeholder="password") }}
            </div>
            <div class='mb-3'>
              {{ form.password_2(type="password", class="form-control", id="password-confirmation", placeholder="password confirmation") }}
            </div>
            <div class='mb-3 text-center'>
              {{ form.submit(class='btn rounded-pill text-capitalize', id='submit-btn') }}
            </div>
          </form>
          <div class='row text-center mt-2'>
            <a class='text-capitalize text-secondary to-log-in mt-2' href='{{url_for("log_in_page")}}'>you already have an account ?</a>
          </div>
        </div>
    </section>
{% endblock %}
  </body>
</html>